<header class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">Angular App</div>
    <nav class="navbar-nav">
      <div class="d-flex">
      <a routerLink="/home" class="nav-link">Home</a>
      <a routerLink="/user" class="nav-link">User</a>
      <a routerLink="/forms-demo" class="nav-link">Forms Demo</a>
      <a routerLink="/template-driven-form" class="nav-link">Template Driven Form Demo</a>
      <a routerLink="/reactive-form" class="nav-link">Reactive Form Demo</a>
      <a routerLink="/http-demo" class="nav-link">Http Demo</a>
      <a routerLink="/rxjs-operator-demo" class="nav-link">RxJS Demo</a>
      <a routerLink="/angular-forms-interview" class="nav-link">Angular Interview Demo</a>
      </div>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<!-- <app-signals></app-signals> -->