<form [formGroup]="reactiveForm" (ngSubmit)="submitReactiveForm()" class="container" [ngClass]="formStatus">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username">
    <div *ngIf="reactiveForm.controls['username'].invalid && reactiveForm.controls['username'].touched">
      <small *ngIf="reactiveForm.controls['username'].errors?.['noSpaceAllowed']">No Spaces are allowed in usernames</small>
      <small *ngIf="reactiveForm.controls['username'].errors?.['required']">Username is Required</small>
      <small *ngIf="reactiveForm.controls['username'].errors?.['usernameCheck']">Username Already Exists</small>
    </div>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div *ngIf="reactiveForm.controls['email'].invalid && reactiveForm.controls['email'].touched" style="display: flex;flex-direction: column;">
        <small *ngIf="reactiveForm.controls['email'].errors?.['required']">Email is required</small>
        <small *ngIf="reactiveForm.controls['email'].errors?.['email']">Email format is not correct</small>
        <small *ngIf="reactiveForm.controls['email'].errors?.['noSpaceAllowed']">No Spaces are allowed in emails</small>
    </div>
  </div>

  <div style="margin: 10px 0px">
    <label>Gender:</label>
    <label><input type="radio" value="male" formControlName="gender"> Male</label>
    <label><input type="radio" value="female" formControlName="gender"> Female</label>
    <label><input type="radio" value="other" formControlName="gender"> Other</label>
  </div>

  <div>
    <label for="place">Place:</label>
    <input type="text" id="place" formControlName="place">
    <small *ngIf="reactiveForm.controls['place'].invalid && reactiveForm.controls['place'].touched">Place is required</small>
  </div> 

  <fieldset formGroupName="address">
    <legend>Address</legend>
    <div>
      <label for="street">Street:</label>
      <input type="text" id="street" formControlName="street">
      <small *ngIf="reactiveForm.controls['address'].get('street').invalid && reactiveForm.controls['address'].get('street').touched">Street is required</small>
    </div>
    <div>
      <label for="district">District:</label>
      <input type="text" id="district" formControlName="district">
      <small *ngIf="reactiveForm.controls['address'].get('district').invalid && reactiveForm.controls['address'].get('district').touched">District is required</small>
    </div>
    <div>
      <label for="state">state:</label>
      <input type="text" id="state" formControlName="state">
      <small *ngIf="reactiveForm.controls['address'].get('state').invalid && reactiveForm.controls['address'].get('state').touched">State is required</small>
    </div>
  </fieldset>

  <div style="margin: 10px 0px" formArrayName="skills">
    <label for="skills">Skills</label>
    <div *ngFor="let control of reactiveForm.get('skills')['controls'];let i=index">
        <input type="text" placeholder="enter skill....." 
        [formControl]="control">
        <button type="submit" (click)="deleteSkill(i)">Delete</button>
    </div>
  </div>

  <button type="button" (click)="addSkill()">Add Skill +</button>

  <div formArrayName="experience">
    <div *ngFor="let control of reactiveForm.get('experience')['controls']; let i = index" [formGroupName]="i">
    <label for="experience">Experience {{i+1}}</label>
      <input type="text" formControlName="company" placeholder="Company">
      <select formControlName="position">
        <option value="">Select Position</option>
        <option value="software engineer">Software Engineer</option>
        <option value="tech architect">Tech Architect</option>
        <option value="senior developer">Senior Developer</option>
        <option value="project manager">Project Manager</option>
      </select>
      <input type="text" formControlName="totalExp" placeholder="Total Experience">
      <input type="date" formControlName="startDate">
      <input type="date" formControlName="endDate">
      <button type="button" (click)="deleteExperience(i)">Delete</button>
    </div>
  </div>
  <button type="button" (click)="addExperience()">Add Experience +</button>
  <button type="submit">Submit</button>
</form>  